/* Please â¤ this if you like it! */


@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #000000;
	background-color: #fff;
	overflow-x: hidden;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
a {
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}

/* #Cursor
================================================== */

.cursor,
.cursor2,
.cursor3{
	position: fixed;
	border-radius: 50%;	
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	left: -100px;
	top: 50%;
	mix-blend-mode: difference;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.cursor{
	background-color: #fff;
	height: 0;
	width: 0;
	z-index: 99999;
}
.cursor2,.cursor3{
	height: 36px;
	width: 36px;
	z-index:99998;
	-webkit-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out
}
.cursor2.hover,
.cursor3.hover{
	-webkit-transform:scale(2) translateX(-25%) translateY(-25%);
	transform:scale(2) translateX(-25%) translateY(-25%);
	border:none
}
.cursor2{
	border: 2px solid #fff;
	box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}
.cursor2.hover{
	background: rgba(255,255,255,1);
	box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 1200px){
	.cursor,.cursor2,.cursor3{
		display: none
	}
}

/* #Primary style
================================================== */

.section {
    position: relative;
	width: 100%;
	display: block;
}
.over-hide{
	overflow: hidden;
}
.full-height {
	height: 100vh;
}

/* #Navigation
================================================== */
 
.cd-header{
    position: fixed;
	width:100%;
	top:0;
	left:0;
	z-index:100;
} 
.header-wrapper{
    position: relative;
	width: calc(100% - 100px);
	margin-left: 50px;
} 
.logo-wrap {
	position: absolute;
	display:block;
	left:0;
	top: 40px;
	cursor: pointer;
}
.logo-wrap a {
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 20px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #000000;
	transition : all 0.3s ease-out;
}
.logo-wrap a span{ 
	color: #8167a9;
}
.logo-wrap a:hover {
	opacity: 0.9;
}
.nav-but-wrap{ 
	position: relative;
	display: inline-block;
	float: right;
	padding-left: 15px;
	padding-top: 15px;
	margin-top: 26px;
	transition : all 0.3s ease-out;
}
.menu-icon {
	height: 30px;
	width: 30px;
	position: relative;
	z-index: 2;
	cursor: pointer;
	display: block;
}
.menu-icon__line {
	height: 2px;
	width: 30px;
	display: block;
	background-color: #000000;
	margin-bottom: 7px;
	cursor: pointer;
	-webkit-transition: background-color .5s ease, -webkit-transform .2s ease;
	transition: background-color .5s ease, -webkit-transform .2s ease;
	transition: transform .2s ease, background-color .5s ease;
	transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}
.menu-icon__line-left {
	width: 16.5px;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}
.menu-icon__line-right {
	width: 16.5px;
	float: right;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
}
.menu-icon:hover .menu-icon__line-left,
.menu-icon:hover .menu-icon__line-right {
	width: 30px;
}
.nav {
	position: fixed;
	z-index: 98;
}
.nav:before, .nav:after {
	content: "";
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(20, 21, 26,0.6);
	border-bottom-left-radius: 200%;
	z-index: -1;
	-webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
	transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
	transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
	transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
	-webkit-transform: translateX(100%) translateY(-100%);
          transform: translateX(100%) translateY(-100%);
}
.nav:after {
	background: rgba(9,9,12,1);
	-webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.nav:before {
	-webkit-transition-delay: .2s;
          transition-delay: .2s;
}
.nav__content {
	position: fixed;
	visibility: hidden;
	top: 50%;
	margin-top: 20px;
	-webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
	width: 100%;
	text-align: center;
}
.nav__list {
	position: relative;
	padding: 0;
	margin: 0;
	z-index: 2;
}
.nav__list-item {
	position: relative;
	display: block;
	-webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
	opacity: 0;
	text-align: center;
	color: #fff;
	overflow: hidden; 
	font-family: 'Montserrat', sans-serif;
	font-size: 8vh;
	font-weight: 900;
	line-height: 1.15;
	letter-spacing: 3px;
	-webkit-transform: translate(100px, 0%);
          transform: translate(100px, 0%);
	-webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
	transition: opacity .2s ease, -webkit-transform .3s ease;
	transition: opacity .2s ease, transform .3s ease;
	transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
	margin-top: 0;
	margin-bottom: 0;
}
.nav__list-item a{ 
	position: relative;
	text-decoration: none;
	color: rgba(255,255,255,0.6);
	overflow: hidden; 
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: 900;
	z-index: 2;
	display: inline-block;
	text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear; 
}
.nav__list-item a:after{ 
	position: absolute;
	content: '';
	top: 50%;
	margin-top: -2px;
	left: 50%;
	width: 0;
	height: 0;
	opacity: 0;
	background-color: #8167a9;
	z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear; 
}
.nav__list-item a:hover:after{ 
	height: 4px;
	opacity: 1;
	left: 0;
	width: 100%;
}
.nav__list-item a:hover{
	color: rgba(255,255,255,1);
}
.nav__list-item.active-nav a{
	color: rgba(255,255,255,1);
}
.nav__list-item.active-nav a:after{ 
	height: 4px;
	opacity: 1;
	left: 0;
	width: 100%;
}
body.nav-active .nav__content {
	visibility: visible;
}
body.nav-active .menu-icon__line {
	background-color: #ffffff;
	-webkit-transform: translate(0px, 0px) rotate(-45deg);
          transform: translate(0px, 0px) rotate(-45deg);
}
body.nav-active .menu-icon__line-left {
	width: 15px;
	-webkit-transform: translate(2px, 4px) rotate(45deg);
          transform: translate(2px, 4px) rotate(45deg);
}
body.nav-active .menu-icon__line-right {
	width: 15px;
	float: right;
	-webkit-transform: translate(-3px, -3.5px) rotate(45deg);
          transform: translate(-3px, -3.5px) rotate(45deg);
}
body.nav-active .menu-icon:hover .menu-icon__line-left,
body.nav-active .menu-icon:hover .menu-icon__line-right {
	width: 15px;
}
body.nav-active .nav {
	visibility: visible;
}
body.nav-active .nav:before, body.nav-active .nav:after {
	-webkit-transform: translateX(0%) translateY(0%);
          transform: translateX(0%) translateY(0%);
	border-radius: 0;
}
body.nav-active .nav:after {
	-webkit-transition-delay: .1s;
          transition-delay: .1s;
}
body.nav-active .nav:before {
	-webkit-transition-delay: 0s;
          transition-delay: 0s;
}
body.nav-active .nav__list-item {
	opacity: 1;
	-webkit-transform: translateX(0%);
          transform: translateX(0%);
	-webkit-transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
	transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
	transition: opacity .3s ease, transform .3s ease, color .3s ease;
	transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}
body.nav-active .nav__list-item:nth-child(0) {
	-webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
body.nav-active .nav__list-item:nth-child(1) {
	-webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
body.nav-active .nav__list-item:nth-child(2) {
	-webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}
body.nav-active .nav__list-item:nth-child(3) {
	-webkit-transition-delay: 1s;
          transition-delay: 1s;
}
body.nav-active .nav__list-item:nth-child(4) {
	-webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}
body.nav-active .nav__list-item:nth-child(5) {
	-webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}
body.nav-active .nav__list-item:nth-child(6) {
	-webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}
body.nav-active .nav__list-item:nth-child(7) {
	-webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}
body.nav-active .nav__list-item:nth-child(8) {
	-webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
body.nav-active .nav__list-item:nth-child(9) {
	-webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}
body.nav-active .nav__list-item:nth-child(10) {
	-webkit-transition-delay: 1.7s;
          transition-delay: 1.7s;
}

.switch-wrap {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 10;
    transform: translateY(-50%);
	width: 100%;
	-webkit-transition: all 500ms linear;
	transition: all 500ms linear; 
	margin: 0 auto;
	text-align: center;
}
.switch-wrap h1 {
	font-weight: 900;
	font-size: 46px;
	line-height: 1;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
@media screen and (max-width: 580px){
  .switch-wrap h1 {
    font-size: 32px;
  }
}
.switch-wrap p {
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 1;
	color: #8167a9;
	text-align: center;
	margin-top: 15px;
}
.switch-wrap p span {
	position: relative;
}
.switch-wrap p span:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	background-color: #000000;
	left: 0;
	bottom: -4px;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.switch-wrap p span:nth-child(2):before {
	opacity: 0;
}
#switch,
#circle {
	cursor: pointer;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
} 
#switch {
	width: 60px;
	height: 8px;
	margin: 0 auto;
	text-align: center;
	border: 2px solid #000;
	border-radius: 27px;
	background: #8167a9;
	position: relative;
	display: inline-block;
}
#circle {
	position: absolute;
	top: -11px;
	left: -13px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
	background: #fff;
}
.switched {
	border-color: #8167a9 !important;
	background: #000 !important;
}
.switched #circle {
	left: 43px;
	background: #000;
}

/* #Light
================================================== */

body.light{
	background-color: #fff;
}
body.light .cursor,
body.light .cursor2,
body.light .cursor3{
	mix-blend-mode: normal;
}
body.light .cursor2{
	border: 2px solid #1f2029;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
body.light .cursor2.hover{
	background: rgba(0,0,0,0.06);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
	border-color: transparent;
}
body.light .logo-wrap a {
	color: #000000;
}
body.light .menu-icon__line {
	background-color: #1f2029;
}
body.light .nav:before {
	background: rgba(235, 235, 235,0.6);
}
body.light .nav:after {
	background: rgba(250,250,250,1);
}
body.light .nav__list-item a{ 
	color: rgba(0,0,0,0.6); 
}
body.light .nav__list-item a:hover{
	color: #1f2029;
}
body.light .nav__list-item.active-nav a{
	color: #1f2029;
}
body.light .switch-wrap h1 {
	color: #000;
}
body.light .switch-wrap p span:nth-child(2):before {
	opacity: 1;
	background-color: #000;
}
body.light .switch-wrap p span:nth-child(1):before {
	opacity: 0;
}
/* #Link to page
================================================== */

.link-to-portfolio {
	  position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 200;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 3px;
	font-size: 20px;
    background-position: center center;
    background-size: 65%;
  background-repeat: no-repeat;
    box-shadow: 0 0 0 2px rgba(255,255,255,.1);
    transition: opacity .2s, border-radius .2s, box-shadow .2s;
    transition-timing-function: ease-out;
}
.link-to-portfolio:hover {
    opacity: 0.8;
    border-radius: 50%;
    box-shadow: 0 0 0 20px rgba(255,255,255,.1);
}
#footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;

}
#btn{
	width: 110%;
	height: 80px;
	border: none;
	border-radius: 20px;
	outline: none;


	
	background-color: rgb(75, 223, 171);
}
.cont-carShop {
	display: none;
	position: fixed;
	right: 0px;
	z-index: 1;
  }
  .act-carShop {
	display: flex;
	flex-direction: column;
	margin: 0.3rem 0.3rem;
	border-radius: 20px;
	border: 1px solid #ABB2B9;
	background: white;
	padding: 1rem;
	width: 20rem;
	height: auto;
	transition: 0.7s ease;
	box-shadow: 0px 48px 60px rgba(0, 0, 0, 0.09), 0px 24.3px 26.1562px rgba(0, 0, 0, 0.06075), 0px 9.6px 9.75px rgba(0, 0, 0, 0.045), 0px 2.1px 3.46875px rgba(0, 0, 0, 0.02925);
  }
  .act-carShop > hr {
	margin-top: 4px;
  }
  
  /*--- Contenedor de tarjetas de articulos ---*/
  .cont-art {
	height: 12.5rem;
	margin-top: 0.5rem;
	overflow-y: scroll;
  }
  /*--- Tarjetas de articulos en el carrito ---*/
  .shop-card {
	display: flex;
	align-items: center;
	background: #e9e9e9;
	color: #5D6D7E;
	border-radius: 1rem;
	width: auto;
	overflow: hidden;
	height: 3.5rem;
	margin-bottom: 0.5rem;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	transition: 0.6s ease;
  }
  .shop-card img {
	width: 3.5rem;
	height: inherit;
	object-fit: cover;
  }
  .na-pri-pro {
	display: flex;
	height: inherit;
	width: 15rem;
	justify-content: center;
	flex-direction: column;
  }
  .na-pri-pro h5 {
	color: #002153;
	font-size: 15px;
  }
  .na-pri-pro p {
	color: #787878;
	font-size: 11px;
	margin-left: 2px;
	overflow-x: hidden;
  }
  .pro_price {
	display: flex;
	border: 1px solid blue;
	align-items: center;
	color: #ff4040;
	font-size: 13px;
	border: 0px solid blue;
	height: inherit;
  }
  .icon_clear {
	cursor: pointer;
	display: flex;
	justify-content: center;
	margin-left: 1rem;
	color: gray;
  }
  .icon_clear:hover {
	color: red;
  }
  
  /*--- Botones de compra y limpiado ---*/
  .selec-art {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: auto;
	padding-top: 1rem;
  }
  .selec-art a {
	display: flex;
	width: 100%;
	height: 45px;
	margin-right: 0.8rem;
	border-radius: 2rem;
	justify-content: center;
	align-items: center;
	background: #FF5D00;
	color: white;
	font-weight: 600;
	font-size: 16px;
	text-decoration: none;
  }
  .selec-art a:hover {
	background: #FF823A;
	transition: 0.3s ease;
  }
  .selec-art div {
	display: flex;
	right: 0px;
	justify-content: center;
	align-items: center;
	width: 8rem;
	height: 45px;
	cursor: pointer;
	border-radius: 2rem;
	background: #03045e;
	color: white;
	font-size: 1.5rem;
  }
  .selec-art div:hover {
	background: #02037F;
	transition: 0.3s ease;
  }
  /*--- Tarjeta modal de confirmacion ---*/
  .modal-card {
	display: none;
	position: fixed;
	right: 0px;
	z-index: 1;
  }
  .act-modal-card {
	display: flex;
	font-weight: 500;
	top: 24rem;
	flex-direction: column;
	margin: 0.3rem 0.3rem;
	border-radius: 20px;
	background: white;
	padding: 1rem;
	width: 20rem;
	height: auto;
	transition: 0.7s ease;
	box-shadow: 0px 48px 60px rgba(0, 0, 0, 0.09), 0px 24.3px 26.1562px rgba(0, 0, 0, 0.06075), 0px 9.6px 9.75px rgba(0, 0, 0, 0.045), 0px 2.1px 3.46875px rgba(0, 0, 0, 0.02925);
  }
  
  .selec-confirm {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	height: auto;
  }
  .selec-confirm > a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	border-radius: 2rem;
	text-decoration: none;
	color: white;
	height: 45px;
  }
  .selec-confirm a:nth-child(1) {
	width: 100%;
	margin-right: 0.8rem;
	border: 3px solid #03045e;
	color: #03045e;
  }
  .selec-confirm a:nth-child(1):hover {
	background: #03045e;
	color: #fff;
	transition: 0.3s ease;
  }
  .selec-confirm a:nth-child(2) {
	width: 12rem;
	background: #03045E;
  }
  .selec-confirm a:nth-child(2):hover {
	background: #02037F;
  }
  
  /* Section 1 config */
  .sect_1 {
	display: flex;
	flex-direction: column;
	
	width: 100%;
	height: auto;
	text-align: center;
  }
  .cont_prin > img {
	object-fit: cover;
	width: 100%;
	height: 15rem;
  }
  
  /*--- Bar Bottom ---*/
  .bar_bottom {
	display: flex;
	position: absolute;
	justify-content: space-around;
	align-items: center;
	top: 15rem;
	left: 0px;
	right: 0px;
	max-width: 40rem;
	height: auto;
	padding: 1rem 0.5rem;
	border-radius: 20px;
	margin: 0rem auto;
	background: linear-gradient(30deg, royalblue, purple);
  }
  .bar_bottom hr {
	height: 2.5rem;
  }
  .bar_bottom p {
	color: whitesmoke;
	font-family: Inter, "sans-serif";
	font-size: 13px;
	width: 35%;
  }
  
  /* Section 2 config */
  .sect_2 {
	width: 100%;
	padding: 0.5rem;
  }
  .sect_2 > h1 {
	width: 100%;
	font-size: 1.7rem;
	font-weight: 500;
	display: flex;
	justify-content: center;
	margin-top: 2.5rem;
	padding: 1.5rem;
  }
  .container_card {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
  }
  .card {
	width: 30%;
	min-width: 12rem;
	height: auto;
	border-radius: 20px;
	background: #f5f5f5;
	overflow: hidden;
	margin: 0.5rem 0.5rem;
  }
  .card img {
	width: 100%;
	object-fit: cover;
	height: 7rem;
  }
  .card h3 {
	margin: 0.5rem;
	color: black;
	font-size: 1.2rem;
  }
  .card h5 {
	color: gray;
	margin: 0.5rem 0.7rem;
  }
  .card .price {
	color: red;
	margin: 0.5rem;
	margin-bottom: 2rem;
  }
  .btn-add {
	display: flex;
	cursor: pointer;
	justify-content: center;
	border: 1px solid gray;
	color: gray;
	border-radius: 1rem;
	margin: 0.5rem;
	padding: 0.8rem;
  }
  .btn-add:hover {
	background: #FF5733;
	color: white;
	border: 1px solid #FF5733;
  }
  
  /* Footer config */
  footer {
	display:flex;
	justify-content: center;
	width: 100%;
	margin-top: 1.5rem;
	padding: 1.5rem 1rem 2.5rem 1rem;
	border: 1px solid gray;
	border-radius: 20px 20px 0px 0px;
	background: white;
  }
  footer p {
	font-family: Inter "sans-serif";
	color: gray;
	font-size: 1rem;
	width: 95%;
	max-width: 50rem;
  }
